[Unit]
Description=zouhuigang ZnotifyServer server
Documentation=https://github.com/zouhuigang
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/software/znotify
ExecStart=/usr/local/software/znotify/ZnotifyServer
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
