input {
    jdbc{
	 type => "goods"
	 #The path to our download jdbc driver
	 jdbc_connection_string => "jdbc:mysql://127.0.0.1:3306/whateat?useUnicode=true&characterEncoding=utf-8"
	 jdbc_driver_library => "/opt/logstash/mysql-connector-java-5.1.43/mysql-connector-java-5.1.43-bin.jar" #这个包要在logstash服务器上存在包
	 jdbc_driver_class => "com.mysql.jdbc.driver"
	 
	 #数据库用户名和密码
	 jdbc_user => "root"
	 jdbc_password => "******"
	 
	 #last_run_metadata_path => "./logstash_last_run_display"
	 


	 #设置监听间隔。可以设置每隔多久监听一次什么的
	 schedule => "* * * * *"

	 #if clean_run set to true, sql_last_value is set to 19700101,重置sql_last_value为0
	 #clean_run => true 
	 last_run_metadata_path => "./logstash_jdbc_last_run"

	 #out输出查询,全量更新，去掉where部分即可
	 #全量同步是指全部将数据同步到es，通常是刚建立es，第一次同步时使用。
	 #增量同步是指将后续的更新、插入记录同步到es。（删除记录没有办法同步，只能两边执行自己的删除命令）
	 #statement_filepath： 执行的sql 文件路径+名称
	 #statement_filepath => "jdbc.sql"
	 #parameters => {"name" => "邹慧刚"}
	 #statement => "select * from goods where name = :name"
	 statement => "select * from goods where update_date > :sql_last_value" #全量更新
	 #statement => "select * from goods where update_date > :sql_last_value" #增量更新
	 use_column_value => true #即如果设置为true的话，sql_last_value为上一次更新的最后时刻值,false默认值default是now()当前时间
	 tracking_column => "update_date"
	 
	 jdbc_paging_enabled => "true"
	 jdbc_page_size => "1000"
	 
	 jdbc_default_timezone =>"Asia/Shanghai"
	}
}

filter {
		json {
        source => "message"
        remove_field => ["message"]
       }
}

output {
   elasticsearch {
      	 #ESIP地址与端口
 		 hosts => "127.0.0.1:9200"
		 #ES索引名称（自己定义的）
  		 index => "whateat_goods"
		 #自增ID编号
  		 document_id => "%{id}"
    }
    stdout {
        codec => json_lines
    }
}
