#全量更新，第一次导入mysql数据时使用
#实际使用时，请将jdbc_driver_library,jdbc_connection_string,jdbc_user,jdbc_password改为实际的配置
input {
  jdbc {
    jdbc_driver_library => "/opt/logstash/mysql-connector-java-5.1.43/mysql-connector-java-5.1.43-bin.jar"
    jdbc_driver_class => "com.mysql.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://127.0.0.1:3306/whateat?useUnicode=true&characterEncoding=utf-8"
    jdbc_user => "root"
    jdbc_password => "******" 
    schedule => "* * * * *"
    statement => "select * from goods"
    type => "table_goods"
  }
  jdbc {
    jdbc_driver_library => "/opt/logstash/mysql-connector-java-5.1.43/mysql-connector-java-5.1.43-bin.jar"
    jdbc_driver_class => "com.mysql.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://127.0.0.1:3306/whateat?useUnicode=true&characterEncoding=utf-8"
    jdbc_user => "root"
    jdbc_password => "******"
    schedule => "* * * * *"
    statement => "select * from setting"
    type => "table_setting"
  }
  # add more jdbc inputs to suit your needs 
}
output {
	stdout {
        codec => json_lines
    }

	 if[type] == "table_goods"{
        elasticsearch {
        hosts  => "localhost:9200"
        index => "db_whateat"
        document_type => "%{type}" # <- use the type from each input
        document_id => "%{goodsid}" #防止数据重复
        }
    }

	if[type] == "table_setting"{
        elasticsearch {
        hosts  => "localhost:9200"
        index => "db_whateat"
        document_type => "%{type}" # <- use the type from each input
        document_id => "%{openid}" #防止数据重复
        }
    }

  
}
