[Unit]
Description=zouhuigang ip server
Documentation=https://github.com/zouhuigang
After=network.target

[Service]
Type=simple
ExecStart=/nfs_file/software/zip/ZipServer
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
