input {
	  	jdbc {
	    jdbc_driver_library => "/opt/logstash/mysql-connector-java-5.1.43/mysql-connector-java-5.1.43-bin.jar"
	    jdbc_driver_class => "com.mysql.jdbc.Driver"
	    jdbc_connection_string => "jdbc:mysql://{数据库ip地址}:3306/{数据库名称}?useUnicode=true&characterEncoding=utf-8"
	    jdbc_user => "root"
	    jdbc_password => "{数据库登录密码}"
	    schedule => "* * * * *"
	
		clean_run => false 
		record_last_run => true
		last_run_metadata_path => "/var/tmp/last_run_value.last"
		use_column_value => true 
		tracking_column => "id" 
		tracking_column_type => "numeric"
	
		jdbc_paging_enabled => "true"
		jdbc_page_size => 500 
		jdbc_fetch_size => 500 
	    statement => "select * from anote where  cateid=31 AND  id>= :sql_last_value" 
	
	    type => "table_anote"
	  }
	}
	output {
		stdout {
	        codec => json_lines
	    }
	
		if[type] == "table_anote"{
	        elasticsearch {
	        hosts  => "localhost:9200"
	        index => "db_whateat"
	        document_type => "%{type}" # <- use the type from each input
	        document_id => "%{id}" #防止数据重复
	        }
	    }
	
	  
	}
