{{ if not .Site.Params.disable_mathjax }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<!--<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
{{ end }}
<script type='text/javascript' src="{{ .Site.BaseURL }}js/jquery.js"></script>
<script type='text/javascript' src="{{ .Site.BaseURL }}js/jquery-migrate.min.js"></script>
<script type='text/javascript' src="{{ .Site.BaseURL }}js/functions.min.js"></script>
<!-- <script type='text/javascript' src="{{ .Site.BaseURL }}js/admin-bar.min.js"></script> -->
<script type='text/javascript' src="{{ .Site.BaseURL }}js/jquery.cycle.all.min.js"></script>
<script type='text/javascript'>
  /* <![CDATA[ */
var travelify_slider_value = {"transition_effect":"fade","transition_delay":"4000","transition_duration":"1000"};
/* ]]> */
</script>
<script type='text/javascript' src="{{ .Site.BaseURL }}js/slider-settings.min.js"></script>
<script type='text/javascript' src="{{ .Site.BaseURL }}js/wp-embed.min.js"></script>
<link rel='stylesheet' id='font-awesome-css'  href="{{ .Site.BaseURL }}css/font-awesome.min.css" type='text/css' media='all' />

<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}apple-touch-icon.png" />
<link rel="stylesheet" href="{{ "fancybox/jquery.fancybox.css" | absURL }}">
<!-- <link rel='stylesheet' id='admin-bar-css'  href="/css/admin-bar.min.css" type='text/css' media='all' /> -->
<link rel='stylesheet' id='travelify_style-css'  href="{{ .Site.BaseURL }}css/style.css" type='text/css' media='all' />
<!-- <link rel='stylesheet' id='travelify_style-css'  href="{{ .Site.BaseURL }}css/jetpack.css" type='text/css' media='all' /> -->
<!--<link rel='stylesheet' id='google_font_ubuntu-css'  href="//fonts.googleapis.com/css?family=Ubuntu" type='text/css' media='all' />-->
<!-- <link rel='stylesheet' id='dashicons-css'  href="{{ .Site.BaseURL }}css/dashicons.min.css" type='text/css' media='all' /> -->
